body{
    background: linear-gradient(to right, #6A0032, #FCC82E); /*Fire up Chips!*/
    text-align: center;
    text-transform: uppercase;
}
.container {
    background: #fff;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
}
